body {
  padding-top: 60px;
  text-align: center;
}
.country-input {
  margin: 0;
  padding: 3px;
  font-size: 25px;
}

.pnotify {
  position: absolute;
  font-size: 20px;
}

.countries-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  list-style: none;
}

.country-card__languages {
  list-style: none;
}
.country-card__wrapper {
  display: flex;
  justify-content: center;
}
